{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}

{% block body %}
    <div class="wrap_title_koinbio"> <h1 class="title_koinbio">Editer les commentaires</h1></div>
    {{ form(form_edit) }}

{#{{ dump(form_edit) }}#}
{% endblock %}



