{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}

{% block body %}
    <h1 class="title_koinbio">Editer les commentaires</h1>
    {{ form(form_edit) }}

{#{{ dump(form_edit) }}#}
{% endblock %}



