{% extends 'base.html.twig' %}

{% block title %}La liste des commentaire{% endblock %}

{% block body %}

    <h1 class="title_koin">La liste des commentaires</h1>

    <button type="button" class="btn btn-success btn-xs "><a href="{{ path('admin_commentaire_add') }}">Ajouter un fiche</a></button>
{% endblock %}
