{% extends 'base.html.twig' %}

{% block title %}
    Modifier l'utilisateur
{% endblock %}
{% block body %}
    <div class="wrap_title_koinbio"><h1 class="title_koinbio">Modifier l'utilisateur</h1></div>


    {{ form(edit_form) }}
{#    {{ form(edit_form_user) }}#}

{% endblock %}