{% extends 'base.html.twig' %}

{% block title %}inscription{% endblock %}

{% block body %}


    <h1>Page d'inscription</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
