{% extends 'base.html.twig' %}
{% block title %} Modifier la fiche de plante {% endblock %}
{% block body %}
<h1 class="title_koinbio">Modifier la fiche de plante</h1>

    {{ form(edit_form) }}


{% endblock %}



