{% extends 'base.html.twig' %}


{% block body %}
<h1>Affichage des fiches</h1>
   <p> <a href="{{ path('admin_fiche_add') }}">Ajouter un fiche</a></p>
 <p>   <a href="#">Supprimer un fiche</a></p>
 <p>   <a href="#">Editer un fiche</a></p>
{% endblock %}