{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrap_title_koinbio"><h1 class="title_koinbio">Ajouter une catégorie de plante</h1></div>
    {{ form(form) }}

{% endblock %}

{% block title %}

{% endblock %}

