{% extends 'base.html.twig' %}

{% block title %}
Modifier la catégorie de plante
{% endblock %}



{% block body %}

    <h1 class="title_koinbio">Editer la catégorie de plante</h1>
    {{ form(edit_form) }}
{% endblock %}

