{% extends 'base.html.twig' %}

{% block title %}
Editer la catégorie la catégorie
{% endblock %}



{% block body %}

    <h1>Editer la catégorie la catégorie</h1>
    {{ form(edit_form) }}
{% endblock %}

