{% extends 'base.html.twig' %}

{% block title %} {{categorieFiche.name }} {% endblock %}

{% block body %}
    <h1 class="title_koin">{{ categorieFiche.name }}</h1>
    <ul class="list-group">
        <li class="list-group-item">{{categorieFiche.id }}</li>
        <li class="list-group-item">{{ categorieFiche.name }}</li>

    </ul>
{% endblock %}

