{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrap_title_koinbio"><h1 class="title_koinbio">Galerie des plantes Koinbio</h1></div>
    <h3>La galerie n'est pas encore mise en place.</h3>
{% endblock %}

