{% extends 'base.html.twig' %}

{% block title %}Koinbio{% endblock %}

{% block body %}
<h1 class="title_koin">Je suis la page d'acceuil</h1>


<span class="glyphicon glyphicon-user"></span>
    <span class="glyphicon glyphicon-user"></span>
    <span class="glyphicon glyphicon-user"></span>
    <span class="glyphicon glyphicon-user"></span>
    <span class="glyphicon glyphicon-user"></span>

{% endblock %}
