{% extends 'base.html.twig' %}

{% block title %}Koinbio{% endblock %}

{% block body %}





            {# ICI LE SLIDER GALLERIE DE LA PAGE D ACCUEIL #}
            {% include 'blocks/sliderGallery.html.twig' %}



            <div class="sect_koinbio one"></div>
            <div class="sect_koinbio two"></div>
            <div class="sect_koinbio three"></div>
            <div class="sect_koinbio four"></div>




{% endblock %}
