{% extends 'base.html.twig' %}

{% block title %}Koinbio{% endblock %}

{% block body %}


    <div class="container-fluid wrap-img-header">
        <img src="{{ asset('build/images/fraisier-header.jpg') }}" alt="">



</div>
{% endblock %}
