{% extends 'base.html.twig' %}

{% block title %}A propos de Koinbio{% endblock %}

{% block body %}
    <h1 class="title_koinbio">A propos de Koinbio</h1>

<p>Crée dans le but de rassembler les gens qui veulent partager leurs expériences dans le domaine potager maison, le site Koinbio permettent aux utilisateurs de
partager des informations sur leurs plantes en créant une fiche d'identité de leurs plantes légumières, fruitières et médicinales.</p>
    <p>De son coté Koinbio mettre à disposition des fiches techniques leur  permettant d'améliorer leur potager </p>
<p>Le but est de permettre aux gens habitant de plus en plus dans des  milieux urbains de planter, de manger bio et de se soigner  tout  en contribuant à la lutte contre
    le rechauffement climatique. Côté financier, cela vous permet de bénéficier de tous ces bienfaits sans le moindre centime. </p>
    <p>On sollicite aussi l'aide des professionnels du botanique qui y participent de nous donner des conseils et des expertises. </p>
    <br>
    <p><i>Bonne visite</i></p>
{% endblock %}