{% extends 'base.html.twig' %}

{% block title %}A propos de Koinbio{% endblock %}

{% block body %}
    <div class="wrap_title_koinbio"> <h1 class="title_koinbio">A propos de Koinbio</h1></div>
<p>L 'objectif de ce site est de proposer aux utilisateurs de poster des informations de leurs plantes légumières, fruitières médicinales et décoratifs (avec le photo de celle-ci) .
    Ainsi ces utilisateurs peuvent échanger leurs expériences et s'inspirer entre eux. </p>
    <p>Chaque plante aura sa propre fiche et une carte d'identité  (inspiration de celle des humains ) que l'utilisateur peut télécharger.
    Elle pourra bénéficier d'une  carte de décès fictif en cas de sa destruction. Le but est de permettre aux gens habitants de
    plus en plus dans des milieux urbains de planter, de manger bio et de se soigner tout en contribuant à la lutte contre le rechauffement climatique.</p>

    <br>
    <p><i>Bonne visite</i></p>
{% endblock %}




