{% extends 'base.html.twig' %}


{% block body %}
    <div class="wrap_title_koinbio"><h1 class="title_koinbio">mentions légales</h1></div>


    <div class="corps_mentions">
        <p> Ce site appartient à <br>
   <strong>     Aladi Timera <br>
        10, place charles de Gaulle <br>
        95210 St gratien <br>
        Mailkoinbio@gmail.com <br>
   </strong>
        </p>
<p>
        Ce site est hébérgé chez <br>
    <strong>1&1 Internet SARL. <br>

        7, place de la Gare, 57200 Sarreguemines <br>
          Tél :  0970 808 911

    </strong></p>
        <br><br>
        <h4>Introduction</h4>
        <p>Ces termes et conditions régissent votre utilisation de ce site; en utilisant ce site, vous acceptez ces termes et conditions dans leur intégralité. Si vous êtes en désaccord avec ces termes et conditions ou toute partie de ces termes et conditions, vous ne devez pas utiliser ce site web.

            Ce site peut utiliser des cookies. En utilisant ce site Web et en acceptant les présentes conditions d'utilisation, vous consentez à notre utilisation des cookies conformément aux conditions de notre politique de confidentialité et en matière de cookies.</p>
        <br><br>
        <h4>Objectif du site : </h4>
        <p>C'est de proposer aux utilisateurs de poster des informations de leurs plantes  légumières, fruitières médicinales et décoratifs (avec le photo de  celle-ci) . Ainsi ces utilisateurs peuvent échanger leurs expériences  et s'inspirer entre eux. chaque plante aura une fiche d'identité  que l'utilisateur peut télécharger. Elle pourra bénéficier d'un fiche de décès fictif en cas de sa destruction.
            Le but est de permettre aux gens habitant de plus en plus dans des milieux urbains de planter, de manger bio et de se soigner tout en contribuant à la lutte contre le rechauffement climatique.</p>


        <br><br>
        <h4>Contenu</h4>
    <p>Le contenu des pages de ce site Web est  destiné à une information générale. Un changement sans préavis est possible.

        Toute utilisation de tout contenu de ce site Web est entièrement à vos risques et périls pour lesquels www.yourbrainonporn.com et ses propriétaires ne sont pas responsables. Il sera de votre propre responsabilité de vous assurer que toute utilisation des produits ou services de ce site Web,
        ou la confiance accordée au contenu de nos sites Web, répond à vos exigences spécifiques.</p>

        <br><br>
        <h4>Utilisation acceptable</h4>
    <p>Vous ne devez pas utiliser ce site d’une façon qui provoque ou peut provoquer des dommages sur le site ou la réduction de la disponibilité ou l’accessibilité du site; ou de quelque façon qui est illégale, frauduleuse ou nuisible, ou en relation avec toute activité ou fin illégale,
        frauduleuse ou nuisible.</p>
        <p>Vous ne devez pas utiliser ce site à copier, stocker, hôte, transmettre, d’envoyer, utiliser, publier ou distribuer des documents qui se compose de (ou est liée à) aucun spyware, virus informatique, cheval de Troie, ver, enregistreur de frappe, rootkit ou d’autres logiciels malveillants.</p>
        <p>Vous ne devez effectuer aucune activité de collecte de données systématique ou automatisée (y compris, sans limitation, le grattage, l'exploration de données, l'extraction de données et la collecte de données) sur ou en relation avec ce site Web sans koinbio.fr le consentement écrit exprès de.</p>
        <p>[Vous ne devez pas utiliser ce site Web pour transmettre ou envoyer des communications commerciales non sollicitées.]</p>


        <br><br>
        <h4>Le contenu de l’utilisateur</h4>
        <p>Dans ces conditions, <strong>«votre contenu d'utilisateur»</strong> signifie les matières (y compris, sans limitation texte, images, matériel audio, du matériel vidéo et du matériel audio-visuel) que vous soumettez à ce site, à toutes fins.</p>
        <p>Vous accordez à Koinbio.fr une licence mondiale, irrévocable, non exclusive et sans
            redevance pour utiliser, reproduire, adapter, publier, traduire et distribuer le contenu de votre
            utilisateur sur tout support existant ou futur. Vous accordez également à koinbio.fr le droit de sous-licencier ces
            droits et le droit d’intenter une action en justice pour violation de ces droits.</p>
        <p>Votre contenu d'utilisateur ne doit pas être illégal ou illégal, ne doit pas enfreindre les droits légaux d'un tiers, et ne doit pas être en mesure de donner lieu à des poursuites judiciaires que ce soit contre vous ou koinbio.fr ou un tiers (dans chaque cas où loi).</p>
        <p>Vous ne devez pas soumettre tout contenu utilisateur sur le site qui est ou a déjà fait l’objet d’aucune procédure judiciaire menacées ou réels ou autre plainte similaire.</p>
        <p>Koinbio.fr se réserve le droit de modifier ou de supprimer tout matériel soumis à ce site Web, stocké sur ses serveurs, hébergé ou publié sur ce site.</p>

        <br><br>
        <p><a href="https://fr.vecteezy.com/vecteur-libre/plante">Plante Vecteurs par Vecteezy</a></p>
        <p><a href="https://fr.vecteezy.com/vecteur-libre/plante">Plante Vecteurs par Vecteezy</a></p>
    </div>

{% endblock %}