{% extends 'base.html.twig' %}


{% block title %}Mes rubriques{% endblock %}

{% block body %}
    <div class="wrap_title_koinbio">  <h1 class="title_koinbio">Mes rubriques</h1></div>


    <div class="wrap_item_gestion">
        <a class="item_gestion" href="{{ path('mes_fiches') }}">Fiches</a>

        <a class="item_gestion" href="{{ path('statistiques') }}">Mes statistiques</a>

        <a class="item_gestion" href="{{ path('score') }}">Mon score</a>



    </div>

{% endblock %}