{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrap_title_koinbio"><h1 class="title_koinbio">Mes statistiques</h1></div>
    <h3>Les statistiques ne sont pas à jour.</h3>
{% endblock %}

