{% extends 'base.html.twig' %}


{% block title %}
Ajouter un receptable de plante
{% endblock %}


{% block body %}

   <h1 class="title_koinbio">Ajouter un pot</h1>

   {{ form(form) }}

{% endblock %}



