{% extends 'base.html.twig' %}

{% block title %}
Editer le receptable
{% endblock %}


{% block body %}
    <h1 class="title_koin">Editer le receptable</h1>
    {{ form(form_edit) }}

{% endblock %}



