{% extends 'base.html.twig' %}

{% block title %}
Editer le receptable
{% endblock %}


{% block body %}
    <div class="wrap_title_koinbio"> <h1 class="title_koinbio">Editer le pot</h1></div>
    {{ form(form_edit) }}

{% endblock %}



