<div id="foot_principale">





            <h5 class="mention_legale"><a href="{{ path('mentions_legales') }}">mentions légales</a></h5>


    <div class="wrap_reseaux_footer">
        <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="">  <i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="">   <i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>



    <small class="copyright"> <i class="fa fa-copyright" aria-hidden="true"></i> koinbio {{ 'now'|date('Y') }}</small>

    </div>



