
<div class="wrap_accroche">
    <div class="wrap-inner">
        <h1>Bienvenue sur KoinBio</h1>
        <p>Faites parler vos plantes en les mettant en  lumière

        </p>
        <a href="{{ path('Registration_register') }}">S'inscrire</a>
    </div>


</div>




<div class="csslider1">
    <div id="trans_img_index"></div>
    <img src="{{ asset('build/images/header_koin.jpg') }}" alt="">
</div>





