@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

#trans_img_index{
    position: absolute;
    width: 100%;
    height: 700px;
    z-index: 2;
    background-color: #00000082;;
    height: -webkit-fill-available;
}

#little_img_index{
    display: none;
}

.csslider1 {
    display: inline-block;
    /*position: relative;*/
    /*max-width: 480px;*/
    width: 100%;
    /*margin-top: 10px;*/
    position: absolute;
    left: 0;
    top:0;
    z-index:-1;
}

.csslider1 img{
    width: 100%;
}

#little_img_index{
    display: none;
}

/*//////// Variables ////////*/
/*/////// CSS ////////*/


.wrap_accroche, .wrap-inner {
    width: 100%;
    height: 100%;
    margin-top: 200px;
}

.wrap_accroche {
    display: table;
}

.wrap_accroche a{
    text-align: center;
    font-size: 25px;
    color: #c9e430;
    padding: 1%;
    border: 1px solid #c9e430;
    text-decoration: none;
    display: block;
    width: 20%;
    margin: 0 auto;
    margin-top: 5%;
    float: left;
    margin-left: 20%;
}


.wrap_accroche a:hover{
    background-color:#c9e430 ;
    border: 1px solid #c9e430;
    color: #395E1B;

}


.wrap-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.wrap-inner h1 {
    position: relative;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 40px;
    background: #c9e430;
    color: #395E1B ;
    padding: 20px;
    font-family: 'Ink Free', serif ;
    font-weight: bold;

}

.wrap-inner p {
    margin-top: 0;
    /* margin-bottom: 1rem; */
    font-size: 30px;
    font-family: 'Ink Free', serif;
    color: #c9e430;
    font-weight: bold;
}

.wrap-inner h1:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    height: 2px;
    background-color: #FFFFFF;
    -webkit-animation: heading-before 4s ease infinite;
    animation: heading-before 4s ease infinite;
}
.wrap-inner h1:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    right: 0;
    height: 2px;
    background-color: #FFFFFF;
    -webkit-animation: heading-after 4s ease infinite;
    animation: heading-after 4s ease infinite;
}

/*//////// Animations ////////*/
@-webkit-keyframes heading-before {
    0% {
        right: auto;
        width: 0;
        left: 0;
    }
    10% {
        width: 50%;
    }
    50% {
        width: 0;
        left: 100%;
    }
    51% {
        width: 0;
        right: 0;
        left: auto;
    }
    60% {
        width: 50%;
    }
    99% {
        width: 0;
        right: 100%;
        left: auto;
    }
    100% {
        right: auto;
        width: 0;
        left: 0;
    }
}
@keyframes heading-before {
    0% {
        right: auto;
        width: 0;
        left: 0;
    }
    10% {
        width: 50%;
    }
    50% {
        width: 0;
        left: 100%;
    }
    51% {
        width: 0;
        right: 0;
        left: auto;
    }
    60% {
        width: 50%;
    }
    99% {
        width: 0;
        right: 100%;
        left: auto;
    }
    100% {
        right: auto;
        width: 0;
        left: 0;
    }
}
@-webkit-keyframes heading-after {
    0% {
        left: auto;
        width: 0;
        right: 0;
    }
    10% {
        width: 50%;
        left: auto;
    }
    50% {
        width: 0;
        right: 100%;
        left: auto;
    }
    51% {
        width: 0;
        left: 0;
        right: auto;
    }
    60% {
        width: 50%;
    }
    99% {
        width: 0;
        left: 100%;
        right: auto;
    }
    100% {
        left: auto;
        width: 0;
        right: 0;
    }
}
@keyframes heading-after {
    0% {
        left: auto;
        width: 0;
        right: 0;
    }
    10% {
        width: 50%;
        left: auto;
    }
    50% {
        width: 0;
        right: 100%;
        left: auto;
    }
    51% {
        width: 0;
        left: 0;
        right: auto;
    }
    60% {
        width: 50%;
    }
    99% {
        width: 0;
        left: 100%;
        right: auto;
    }
    100% {
        left: auto;
        width: 0;
        right: 0;
    }
}

/***************** POSITION TABLETTE *************************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .wrap_accroche, .wrap-inner {
        width: 100%;
        height: 100%;
        margin-top: 24px;
    }


    .wrap-inner h1 {
        font-size: 31px;
        margin-bottom: 24px;
        padding: 10px;

    }

    .wrap-inner p {
        font-size: 22px;
    }

    .wrap_accroche a {
        font-size: 18px;
        width: 20%;
        margin-top: 1%;
    }

}


/***************** POSITION TABLETTE LANDSCAPE*************************/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape){

    .wrap_accroche, .wrap-inner {
        width: 100%;
        height: 100%;
        margin-top: 70px;
    }

}



/***************** SMARTPHONE  portrait *************************/
@media screen and (max-width: 767px){
/*demo*/
    #big_img_header{
        display: none;
    }

    #little_img_index{
        display: block;
    }
    .wrap_accroche, .wrap-inner {
        margin-top: 140px;
        margin-bottom: 300px;
    }

    .csslider1 {
        left: 0;
        top: 53px;
        /*display: none;*/

    }


    .wrap-inner h1 {
        padding: 8px;
        font-size: 1.3em;
        margin-bottom: 10px;
    }
    .wrap-inner p {
        font-size: 19px;
        margin-bottom: 13%;
    }

    .wrap_accroche a {
        font-size: 19px;
        margin-top: 2%;
        width: 43%;
        margin-left: 29%;
        float: none;
    }




}


/***************** SMARTPHONE landscape *************************/
@media screen and (max-width: 767px) and (orientation:landscape){


    .wrap_accroche, .wrap-inner {
        margin-top: 51px;
    }

    .wrap-inner h1 {
        padding: 8px;
        font-size: 2em;
        margin-bottom: 22px;
    }

    .wrap-inner p {
        font-size: 17px;
    }

    .wrap_accroche a {
        font-size: 14px;
        margin-top: 5%;
    }

    .wrap-hambuger {
        top: 4%;
    }




}




