/*CSS GLOBAL*/
@font-face {
    font-family: "Puritas LT W04 Bold Italic";
    src: url("../fonts/Puritas LT W04 Bold Italic.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {font-family: "Puritas LT W04 Medium Italic";
    src: url("../fonts/Puritas LT W04 Medium Italic.eot"); /* IE9*/
    src: url("../fonts/Puritas LT W04 Medium Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Puritas LT W04 Medium Italic.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/Puritas LT W04 Medium Italic.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Puritas LT W04 Medium Italic.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/

}


@font-face{
    font-family: 'Ink Free';
    src: url("../fonts/Ink Free.eot") format('embedded');
    src: url("../fonts/Ink Free.otf") format('opentype');
    src: url("../fonts/Ink Free.ttf") format('truetype');
    src: url("../fonts/Ink Free.woff") format('woff');
}


body{
    margin: 0;
    padding: 0;
}

.container{
    min-height: 800px;
}

#nav_koinbio{
    background-color: #5eb5e0;
    position: absolute;
    left: 200px;
    z-index: 10;

}


.big-header-koinbio {
margin-bottom: 0;
    margin-top: 0;


}

.big-header-koinbio div{
    display: inline-block;
    width: 33%;
}

.title_koinbio{
    font-family: 'Ink Free', serif ;
    padding: 20px;
    background: #c9e430;
    color: #395E1B;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}



.wrap-logo{
    margin: 0 auto;
    width: 50px;
}

.wrap-logo img{
  width: 50px;
}


.wrap-hambuger span {
    color: #395E1B;
    font-family: 'Ink Free', serif ;
}

.color-kaki-koin{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-top: 18px;*/
    border-top: 1px solid #5f6c0a;
    border-bottom: 1px solid #5f6c0a;
    height: 100px;
}


/*.degrade-background-koin{*/
/*    background: #812500; !* Old browsers *!*/
/*    background: -moz-linear-gradient(left,  #812500 0%, #5f6c0a 100%); !* FF3.6-15 *!*/
/*    background: -webkit-linear-gradient(left,  #812500 0%,#5f6c0a 100%); !* Chrome10-25,Safari5.1-6 *!*/
/*    background: linear-gradient(to right,  #812500 0%,#5f6c0a 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
/*    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#812500', endColorstr='#5f6c0a',GradientType=1 ); !* IE6-9 *!*/

/*}*/

.white-koin-puritas{
    font-family: 'Puritas LT W04 Medium Italic', serif;
    font-size: 1.5em;
    color: white;
}

.color-marron-koin{
    color: #812500;
}

.background-kaki-koin{
    background-color: #5f6c0a;
}

body {
    font-family: sans-serif;
    color: black;
    /*font-size: 24px;*/

}


.container-koin{
    min-height: 260px;
    width: 70%;
    margin: 0 auto;
}


#foot_principale{
    height: 450px;
    background-color: gainsboro;
    margin-top: 100px;

}


.little_nav2{
    width: 35%;
    float: left;
    margin-left: 25%;
}

.little_nav2 div{
    float: left;
    margin-left: 16%;
    margin-top: 30px;
}

/*.little_nav2 div:last-child{*/
/*   text-align: right;*/
/*}*/

/*.little_nav2 div:first-child{*/
/*    text-align: left;*/
/*}*/


.wrap-img-header{
    padding: 0;
}

.wrap-img-header img{
   width: 60%;
    height: 700px;
    float: left;
    display: block;
}


.little_nav2 div{
    float: left;
    display: inline-block;
    line-height: 33px;

}

.little_nav2 div a{
color: #395E1B;


}









.img_header {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    width: auto;
}







.wrap_forme{
    float: left;
    margin: 0 auto;
    margin-top: 200px;
    width: 350px;
    margin-right: 5%;
}

.wrap_forme p{

    margin: 0 auto;
    padding: 20px;
    font-family: monospace;

    text-align: center;
    color: white;
    /*margin-top: 40%;*/



}


.accroche{

    font-size: 18px;
}





.sect_koinbio{
    margin: 0 auto;
    height: 100vh;
    width: 100%;


}

.one{
    background-color: white;

}


.two{
    background-color: darkgray;

}


.three{
    background-color: darkgoldenrod;

}

.four{
    background-color: crimson;

}

#accroche_acces_wrap{
    width: 40%;
    height: 700px;
    float: left;
    display: block;
    background-color: #c9e430;
}


#acces_wrap{
    width: 10%;
    float: left;
    border-left: 1px dashed #5f6c0a;
    height: inherit;
}

#accroche_wrap{
    width: 90%;
    float: left;
    height: inherit;
}





#title_koibio{
    font-family: "Ink Free";
    font-size: 5em;
    position: absolute;
    top: 200px;
    color: #395E1B;
    right: 21%;
    background: #c9e430;
    padding: 1%;
    z-index: 0;
}


#acces_wrap_absolute{
    position: fixed;
    top: 100px;
    right: 0;
    width: 3.9%;
    height: 700px;
    background-color: #c9e430;
    border-left: none;
}



.item_acces{
    height: 10%;
    border-bottom: 1px dashed #395E1B;
    text-align: center;
    line-height: 5;
}

.item_acces i {
color: #395E1B;
}



#reseaux_wrap_absolute{
    position: fixed;
    top: 100px;
    left: 0;
    width: 3.9%;
    height: 700px;
    background-color: #c9e430;
    border-left: none;
}

.wrap_item_gestion .item_gestion{
    display: inline-block;
    width: max-content;
    background-color: #395E1B;
    padding: 20px;
    margin-top: 20px;
    color: white;
}


