/*CSS GLOBAL*/
@font-face {
    font-family: "Puritas LT W04 Bold Italic";
    src: url("../fonts/Puritas LT W04 Bold Italic.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}
@font-face {font-family: "Puritas LT W04 Medium Italic";
    src: url("../fonts/Puritas LT W04 Medium Italic.eot"); /* IE9*/
    src: url("../fonts/Puritas LT W04 Medium Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Puritas LT W04 Medium Italic.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/Puritas LT W04 Medium Italic.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Puritas LT W04 Medium Italic.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/

}


@font-face{
    font-family: 'Ink Free';
    src: url("../fonts/Ink Free.eot") format('embedded');
    src: url("../fonts/Ink Free.otf") format('opentype');
    src: url("../fonts/Ink Free.ttf") format('truetype');
    src: url("../fonts/Ink Free.woff") format('woff');
}




.color-kaki-koin{
    color: #5f6c0a;
}


.degrade-background-koin{
    background: #812500; /* Old browsers */
    background: -moz-linear-gradient(left,  #812500 0%, #5f6c0a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #812500 0%,#5f6c0a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #812500 0%,#5f6c0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#812500', endColorstr='#5f6c0a',GradientType=1 ); /* IE6-9 */

}

.white-koin-puritas{
    font-family: 'Puritas LT W04 Medium Italic', serif;
    font-size: 1.5em;
    color: white;
}

.color-marron-koin{
    color: #812500;
}

.background-kaki-koin{
    background-color: #5f6c0a;
}

body {
    font-family: sans-serif;
    color: black;
    /*font-size: 24px;*/

}


.container-koin{
    min-height: 260px;
    width: 70%;
    margin: 0 auto;
}


#foot_principale{
    height: 450px;
    background-color: gainsboro;
    margin-top: 100px;

}

#foot_little{

    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 39px;
    color: white;

}


.bg-header-koin{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#812500+0,5f6c0a+100 */
    background: #812500; /* Old browsers */
    background: -moz-linear-gradient(left,  #812500 0%, #5f6c0a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #812500 0%,#5f6c0a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #812500 0%,#5f6c0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#812500', endColorstr='#5f6c0a',GradientType=1 ); /* IE6-9 */
    color:white;
    font-size: 18px;
}

.little_nav{
    width: 100%;
    border-bottom: 1px dashed #5f6c0a;
    height: 40px;
    margin-left: 0;
    padding-top: 4px;
}


.little_nav2 div{
    float: left;
    display: inline-block;
    height: 30px;
    text-align: end;
    border-left: 1px dashed black;
    line-height: 33px;

}


.firt-item-little_nav2-koin{
    border-right: 1px dashed black;
}

.title_koin{
    font-family: 'Puritas LT W04 Medium Italic', serif;
    margin-bottom: 60px;
    color: #5f6c0a;
    border-left: 7px solid #812500;
    padding-left: 15px;
    margin-top: 50px;
    font-size: 3em;

}

.little_nav2{
    width: 70%;
    margin: 0 auto;
}


.accroche-koin{
    font-size: 20px;

    padding: 1%;
    color: white;
    margin-top: 2%;
}




.btn-koin-special{
    color: #812500;
    width: 20%;
    border-left: 1px dashed #812500;
    padding: 5px;
    text-align: center;
    /*border-left: none;*/
    background-color: white;

    border-top: 1px dashed white;
}

.btn-koin-special:first-child{
    border-left: 1px dashed white;
}
.btn-koin-special:hover{
    background-color: transparent;
    color: white;
    border-left: 1px dashed white;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;

}

.btn-koin-special:first-child:hover {
    border-left: 1px dashed white;
}

.btn-koin-special:last-child:hover{
    border-right: 1px dashed white;
}


.wrap-user-command{
    width: 46%;
    margin: 0 auto;
}
.accroche-koin p{
    text-align: center;
    /*font-family: 'Puritas LT W04 Medium Italic', serif;*/
}


.accroche-title{
    font-family: 'Puritas LT W04 Medium Italic', serif;
    font-size: 55px;
    text-align: center;
    margin: 0 auto;
}


.firt-item-little_nav2-koin i:hover{
    opacity: 0.5;
}


/*.bg-header-koin ul{*/
/*     margin: 0 auto;*/

/* }*/

/*.bg-header-koin ul li a{*/
/*    color: white;*/
/*}*/

.score-koin-index i{
    color: #80808078;
}

.score-koin-index i:last-child{
    color: green;
}

