{% extends 'base.html.twig' %}

{% block title %}
Modifier le type de plante
{% endblock %}

{% block body %}
    <h1 class="title_koin">Modifier le type de plante</h1>
    {{ form(edit_form) }}
{% endblock %}



