{% extends 'base.html.twig' %}

{% block title %}
    Modifier l'utilisateur
{% endblock %}
{% block body %}
    <h1 class="title_koinbio">Modifier l'utilisateur</h1>


    {{ form(edit_form_user) }}

{% endblock %}