{% extends 'base.html.twig' %}

{% block title %}Ajouter l'utilisateur{% endblock %}

{% block body %}

    <h1 class="title_koinbio">Ajouter un utilisateur</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
