{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}

{% block body %}

    <div class="wrap_title_koinbio"><h1 class="title_koinbio">Modifier l'article</h1></div>

{{ form(form_edit) }}



{% endblock %}


