{% extends 'base.html.twig' %}

{% block title %}
Ajouter une fiche de plante
{% endblock %}


{% block body %}

    <h1 class="title_koin">Ajouter une fiche de plante</h1>
    <div class="container">
        {{ form(form) }}
    </div>

{% endblock %}



