{% extends 'base.html.twig' %}


{% block title %}Fiches techniques de plantes{% endblock %}

{% block body %}
    <h1 class="title_koinbio">Fiches techniques de plantes</h1>





    <div class="wrap_item_gestion">
        <a class="item_gestion" href="{{ path('fiches') }}">Plantes fruitières</a>

        <a class="item_gestion" href="#">Plantes légumières</a>

        <a class="item_gestion" href="#">Plantes médicinales</a>



    </div>


{% endblock %}